<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Final_Austin_Brenes.My.MySettings.Registro_EstudiantesConnectionString"
            connectionString="Data Source=DESKTOP-M503059\SQLEXPRESS;Initial Catalog=Registro_Estudiantes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>